<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>

<body>

<div class="wrapper">
    <div class="card">

        <h2>Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        <p>Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

</body>
</html>
